body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    monospace;
}

.list-item{
    lineHeight: 48px;
    height: 48px;
    box-sizing: border-box;
    position: static;
    float: none;
    display: block;
    padding: 32px;
    color: rgba(0; 0; 0; 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-height: 500;
    line-height: 48px;
    padding: 0 32px;
    cursor: pointer;
}

.list-item:hover{
    background-color: rgba(0,0,0,0.05);
}

.list-item.sub-header{
    color: rgba(0, 0, 0, 0.54);
    background-color: #fff;
    cursor: default;
}

.list-item.active{
    background-color: #ee6e73;
    cursor: default;
}

.flex-direction{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1126px){
  .flex-direction {
    flex-direction: row;
  }
}
